<form id="search-form" class="col-xs-8 col-sm-6">
  <select id="searchType">
    <option value="all"><%= t "all"%></option>
    <option value="book"><%= t "book"%></option>
    <option value="author"><%= t "author"%></option>
    <option value="publisher"><%= t "publisher"%></option>
  </select>
  <input type="text" placeholder="Search...">
  <button type="submit">
    <i class="glyphicon glyphicon-search"></i>
  </button>
</form>
