@mixin transition {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  transition: all 300ms linear;
}

@mixin box-shadow-hover {
  -webkit-box-shadow: 0 1px 1px -1px #a8a8a8 inset,
    0 1px rgba(255, 255, 255, 0.6), 0 0 4px rgba(70, 100, 200, 0.7);
  -moz-box-shadow: 0 1px 1px -1px #a8a8a8 inset,
    0 1px rgba(255, 255, 255, 0.6), 0 0 4px rgba(70, 100, 200, 0.7);
  box-shadow: 0 1px 1px -1px #a8a8a8 inset, 0 1px rgba(255, 255, 255, 0.6),
    0 0 4px rgba(70, 100, 200, 0.7);
}

.login-admin {
  width: 100%;
  height: 100%;
  display: flex;
  vertical-align: middle;
  background: url("login_admin_bg.png") no-repeat center center;
  background-size: cover;
  > div {
    background: url("admin_login_form_bg.jpg") no-repeat center center;
    background-size: cover;
    max-width: 440px;
    text-align: center;
    padding: 20px 20px 0 20px;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 25px 15px 0 rgba(0, 0, 0, 0.24);
    .login-logo {
      margin-bottom: 30px;
      > li {
        display: inline;
        > img {
          width: auto;
          height: 80px;
        }
      }
    }
    > div {
      margin: 10px;
      color: white;
      font-weight: bold;
    }
    > form {
      padding: 0 45px;
      > input {
        text-align: center;
        margin-bottom: 15px;
        &:-moz-placeholder {
          text-align: center;
        }
        &::-webkit-input-placeholder {
          text-align: center;
        }
        &:-ms-input-placeholder {
          text-align: center;
        }
      }
      > input[type="submit"] {
        padding: 5px 40px;
        text-transform: uppercase;
      }
      > label {
        color: white;
        font-weight: normal;
      }
    }
  }
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  box-shadow: 5px 55px 10px rgba(0, 0, 0, 0.42);
  .logo {
    background-color: #00bcd4;
    text-align: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.12);
    > a > img {
      width: 250px;
      height: auto;
      margin: 20px 0;
    }
  }
  .sidebar-wrapper {
    position: relative;
    height: calc(100% - 105px);
    overflow: auto;
    width: 270px;
    z-index: 4;
  }
  .nav {
    margin-top: 20px;
    > li {
      position: relative;
      display: block;
      > a {
        margin: 10px 15px;
        @include transition();
        > i {
          font-size: 24px;
          float: left;
          margin-right: 15px;
          line-height: 30px;
          width: 30px;
          text-align: center;
        }
        > p {
          margin: 0;
          line-height: 30px;
          font-size: 14px;
        }
      }
    }
    > li.active > a{
      background-color: #00bcd4;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.12);
      color: white;
    }
  }
}

.main-content {
  position: absolute;
  top: 50px;
  left: 270px;
  width: calc(100% - 270px);
  height: calc(100% - 50px);
  z-index: 2;
  float: right;
  overflow: scroll;
}

.header-admin {
  width: calc(100% - 270px);
  margin-left: 270px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.42);
  .form-header {
    width: 400px;
    height: 30px;
    z-index: 2;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: white;
    padding: 0 !important;
    margin-top: 10px;
    > select {
      width: 20%;
      height: 100%;
      padding-left: 5px;
      vertical-align: top;
      text-align: center;
      border: none;
      background-color: transparent;
      border-radius: 4px 0px 0px 4px;
      color: #999999;
      cursor: pointer;
      &:hover {
        @include box-shadow-hover();
      }
    }
    > input {
      width: calc(100% - (20% + 35px));
      height: 100%;
      padding-left: 10px;
      border: none;
      color: #999999;
      background-color: transparent;
      vertical-align: top;
      &::-moz-placeholder {
        opacity: 0.7;
      }
      &::-webkit-input-placeholder {
        opacity: 0.7;
      }
      &:hover {
        @include box-shadow-hover();
      }
    }
    > button {
      float: right;
      height: 28px;
      width: 30px;
      border-radius: 0px 4px 4px 0px;
      border: none;
      background-color: transparent;
      color: #999999;
      vertical-align: top;
      &:hover {
        background-color: #CCCCCC;
        @include transition();
        color: white;
      }
      &:hover {
        @include box-shadow-hover();
      }
    }
  }
}

.manage {
  padding: 25px 20px;
  .btn-head {
    width: 100%;
    .btn-export {
      float: right;
    }
  }
  .list {
    margin-top: 30px;
    > div {
      margin-bottom: 10px;
      text-align: center;
      > strong {
        font-size: 25px;
      }
      > span {
        float: right;
        padding: 7px;
      }
    }
    > p {
      margin-top: 30px;
      text-align: center;
      font-weight: bold;
      font-size: 20px;
    }
    table {
      thead {
        font-weight: bolder;
        tr {
          .stt {
            width: 50px;
          }
          .title {
            width: 200px;
          }
          .name {
            width: 130px;
          }
          .current {
            width: 80px;
          }
          .description {
            width: calc(100% - 200px - 130px - 80px);
          }
          .image {
            max-width: 150px;
            max-height: 150px;
          }
          th {
            text-align: center;
          }
        }
      }
      tbody {
        tr {
          td {
            position: relative;
            white-space: nowrap;
            cursor: pointer;
            .edit-delete {
              display: none;
              height: 30px;
              font-size: 15px;
              background-color: white;
              box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.42);
              text-align: center;
              z-index: 2;
              a {
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                &:hover {
                  text-decoration: none;
                }
              }
              .delete {
                color: red;
              }
            }
          }
          &:hover {
            .edit-delete {
              position: absolute;
              bottom: -30px;
              right: 0;
              display: table-cell;
              vertical-align: middle;
          }
          }
        }
      }
    }
  }
}

#admin-modal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        padding: 5px !important;
        text-align: center;
        text-transform: uppercase;
        font-size: medium;
        font-weight: bolder;
        color: #059;
      }
      .modal-body {
        > p {
          text-align: center;
          margin: 0 8px 8px 8px;
          padding: 10px;
        }
      }
    }
  }
  form {
    text-align: center;
    .picture {
      padding: 0 8px !important;
      .bg {
        background: url(camera_bg.png) no-repeat center center;
      }
      .img-avatar {
        width: 100%;
        height: 180px;
        background-color: #eee;
        margin-bottom: 5px;
        border: 1px solid #ccc;
        line-height: 200px;
        img {
          max-width: 100%;
          max-height: 200px;
        }
      }
    }
    p {
      text-align: right;
      color: red;
      margin: 7px 0;
    }
    .info {
      padding: 0 8px !important;
      .errors-group {
        width: 100%;
        display: table;
        > p {
          display: table-cell;
          &:first-child {
            padding-right: 10px;
          }
          > span {
            text-align: right;
          }
        }
      }
    }
  }
}
