<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .email {
        width: 70%;
        margin: 0 auto;
        border: 2px solid #059;
        border-radius: 10px;
        padding: 20px;
      }
      .email p:nth-child(0) {
        font-weight: bold;
        font-style: italic;
      }
      .email > div {
        text-align: center;
        margin: 30px auto;
      }
      .email a {
        background-color: #009ee2;
        padding: 10px 20px;
        border-color: #2e6da4;
        border-radius: 5px;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
      }
      .email a:hover {
        background-color: #059;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
